In [26]:
import pandas as pd
authors_ds=pd.read_csv('Authors_dataset.csv')
authors_ds

            id                                               text author
0      id26305  This process, however, afforded me no means of...    EAP
1      id17569  It never once occurred to me that the fumbling...    HPL
2      id11008  In his left hand was a gold snuff box, from wh...    EAP
3      id27763  How lovely is spring As we looked from Windsor...    MWS
4      id12958  Finding nothing else, not even gold, the Super...    HPL
...        ...                                                ...    ...
19574  id17718  I could have fancied, while I looked at it, th...    EAP
19575  id08973  The lids clenched themselves together as if in...    EAP
19576  id05267  Mais il faut agir that is to say, a Frenchman ...    EAP
19577  id17513  For an item of news like this, it strikes us i...    EAP
19578  id00393  He laid a gnarled claw on my shoulder, and it ...    HPL

[19579 rows x 3 columns]

In [27]:
# from nltk.corpus import stopwords


import pandas as pd
authors_ds['author'].replace('EAP',1,inplace=True)
authors_ds['author'].replace('HPL',0,inplace=True)
authors_ds['author'].replace('MWS',2,inplace=True)       
authors_ds

            id                                               text  author
0      id26305  This process, however, afforded me no means of...       1
1      id17569  It never once occurred to me that the fumbling...       0
2      id11008  In his left hand was a gold snuff box, from wh...       1
3      id27763  How lovely is spring As we looked from Windsor...       2
4      id12958  Finding nothing else, not even gold, the Super...       0
...        ...                                                ...     ...
19574  id17718  I could have fancied, while I looked at it, th...       1
19575  id08973  The lids clenched themselves together as if in...       1
19576  id05267  Mais il faut agir that is to say, a Frenchman ...       1
19577  id17513  For an item of news like this, it strikes us i...       1
19578  id00393  He laid a gnarled claw on my shoulder, and it ...       0

[19579 rows x 3 columns]

In [28]:
y=authors_ds['author']
authors_ds.drop(columns='author',inplace=True)

In [29]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(authors_ds,y,test_size=0.2,random_state=43) 
x_train.shape

(15663, 2)

In [30]:
from nltk.corpus import stopwords
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [31]:
from tokenize import tokenize
from nltk.tokenize import RegexpTokenizer
from nltk.stem import PorterStemmer,WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer

tokenizer= RegexpTokenizer(r'\w+')
lemmatizer= WordNetLemmatizer()
stemmer= PorterStemmer()



def preprocessing(texts):
    final_tokens=' '
    tokens=tokenizer.tokenize(texts)
         #print('Tokens:',tokens)
    pure_tokens=[token.lower() for token in tokens if token.lower() not in stopwords.words('english')]
    stemmed_tokens=[stemmer.stem(pure_token) for pure_token in pure_tokens]
    final_tokens=final_tokens.join(stemmed_tokens)
    return final_tokens
     
preprocessing('I was eating breakfast when you were playing')
x_train['Cleaned_text']=x_train['text'].apply(preprocessing)
x_train['Cleaned_text']

x_test['Cleaned_text']=x_test['text'].apply(preprocessing)
x_test['Cleaned_text']

7333     kuran awak moment beheld citi yet knew brief g...
2108     huge stone beam fall moment decay roof gave ev...
17667    draught contrari move uniqu littl variat proba...
8230     fool two mr rumgudgeon matter stand thu earth ...
17218                              shall go alon accompani
                               ...
11198            yet pretend account mood particular event
9847                     needless say felt inexpress alarm
3763     recurr sheet lightn illum tumbl ground remain ...
13789    england seat far north turbid sea visit dream ...
1536     yet effect purpos could discern within precinc...
Name: Cleaned_text, Length: 3916, dtype: object

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer=TfidfVectorizer(stop_words='english',use_idf=True)

vectorizer.fit(x_train['Cleaned_text'])
x_train_Tfidf=vectorizer.transform(x_train['Cleaned_text'])
x_test_Tfidf=vectorizer.transform(x_test['Cleaned_text'])

x_train

,id,text,Cleaned_text
12944,id05324,"After dinner, however, when you have sufficien...",dinner howev suffici recov fatigu ride happi t...
12676,id26471,The greater part of the fearful night had worn...,greater part fear night worn away dead stir vi...
3569,id27195,"There was, however, something he wanted in emb...",howev someth want embattl flander order secur ...
9448,id04173,Its contents were of the most startling nature...,content startl natur perus confirm gravest app...
17636,id24471,"No one knew, no one could imagine; no one not ...",one knew one could imagin one even burgomast m...
...,...,...,...
5307,id04712,"""And, all at once, the moon arose through the ...",moon aros thin ghastli mist crimson color
18448,id09723,"The ceiling, of gloomy looking oak, was excess...",ceil gloomi look oak excess lofti vault elabor...
7985,id18983,"Have any of you, my readers, observed the ruin...",reader observ ruin anthil immedi destruct
18687,id03539,This would naturally have been the case.,would natur case
14148,id24417,"""Oh, shocking"" groaned the Earl.",oh shock groan earl

In [33]:
from sklearn.naive_bayes import GaussianNB,MultinomialNB,BernoulliNB

from sklearn.metrics import confusion_matrix,roc_auc_score,roc_curve
import matplotlib.pyplot as plt

clf= MultinomialNB().fit(x_train_Tfidf.toarray(),y_train)
# clf.score(x_train_Tfidf.toarray(),y_train)
    
# test_review='that product was its absolute best and i loved using every feature of it'

# x_test['Cleaned_text']=x_

y_pred=clf.predict(x_test_Tfidf.toarray())
y_pred

array([0, 1, 1, ..., 0, 2, 1], dtype=int64)

In [34]:
y_proba_pred=clf.predict_proba(x_test_Tfidf.toarray())[::,1]
y_proba_pred

array([0.08961293, 0.6162028 , 0.762852  , ..., 0.09360948, 0.22979486,
       0.5560326 ])

In [35]:
from sklearn.metrics import accuracy_score 
from sklearn.metrics import classification_report
Accuracy_Score = accuracy_score(y_test,y_pred)
Accuracy_Score

0.8117977528089888

In [36]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(x_train_Tfidf,y_train)
y_pred=logreg.predict(x_test_Tfidf)
y_pred

array([0, 1, 1, ..., 0, 2, 1], dtype=int64)

In [39]:
comparisons_df=pd.DataFrame({'Actuals':y_test,'predictions':y_pred})

from sklearn.metrics import confusion_matrix,precision_score,recall_score,f1_score

confusion_matrix(y_test,y_pred)

# recall_score(y_test,y_pred)
# precision_score(y_test,y_pred)

# f1_score(y_test,y_pred)

array([[ 847,  211,   76],
       [  94, 1375,   98],
       [  75,  216,  924]], dtype=int64)

In [42]:

# precision_score(y_test,y_pred)

# f1_score(y_test,y_pred)

ValueError: Target is multiclass but average='binary'. Please choose another average setting, one of [None, 'micro', 'macro', 'weighted'].

In [43]:
from sklearn.metrics import classification_report
visualizer =classification_report(y_test,y_pred)
print(visualizer)

              precision    recall  f1-score   support

           0       0.83      0.75      0.79      1134
           1       0.76      0.88      0.82      1567
           2       0.84      0.76      0.80      1215

    accuracy                           0.80      3916
   macro avg       0.81      0.79      0.80      3916
weighted avg       0.81      0.80      0.80      3916